html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.arrows-remove::-webkit-inner-spin-button,
.arrows-remove::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.arrows-remove {
  -moz-appearance: textfield;
}

.button-blue {
  color: #ffffff;
  background: #81b3d2;
  transition: 0.2s
}

.button-blue:hover {
  background-color: #669ec0;
  cursor: pointer;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-blue:active * {
  background-color: #5496bd;
  opacity: 0.3;
}

.button-brown {
  color: #ffffff;
  background-color: #766357;
  transition: 0.2s;
}

.button-brown:hover {
  background-color: #604e43;
  cursor: pointer;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-brown:active * {
  background-color: #503e33;
  opacity: 0.3;
}

.button-grey {
  transition: 0.2s;
}

.button-grey:hover {
  color: #000000;
}

.button-grey:focus {
  color: #000000;
}

.button-grey:active {
  color: #81b3d2;
}

.link {
  color: #000000;
  transition: 0.2s;
}

.link:hover {
  color: #81b3d2;
}

.link:active {
  color: #cacaca;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-index {
  position: relative;
}

.main-header {
  padding: 16px 0;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -30px -80px;
  padding: 0 72px;
  list-style: none;
  line-height: 26px;
  font-weight: bold;
}

.site-navigation li {
  display: block;
  width: 160px;
  margin-bottom: 30px;
  margin-left: 80px;
}

.site-navigation li:nth-child(4n + 3) {
  margin-left: 253px;
  text-align: right;
}

.site-navigation li:nth-child(4n + 4) {
  text-align: right;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
}

.container {
  background-color: #ffffff;
}

.benefits-slogan {
  display: flex;
  min-height: 510px;
  background: url('../img/polygon.svg'), url('../img/background-photo.jpg');
  background-color: #dceaf3;
  background-position: bottom, 0 -80px;
  background-repeat: no-repeat, no-repeat;
}

.benefits-slogan img {
  margin: 0 auto auto;
  padding-top: 76px;
}

.benefits-title {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 55px 300px 50px;
  text-align: center;
  line-height: 26px;
}

.benefits-title h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.benefits-title p {
  margin: 0;
}

.benefit-unit {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.benefit-unit-text {
  width: 400px;
  padding: 48px 40px;
}

.benefit-unit-text * {
  margin: 0;
}

.benefit-unit-text h3 {
  width: 151px;
  margin: 0 auto 25px;
  font-size: 21px;
  font-weight: bold;
}

.benefit-unit-text p {
  margin-bottom: 10px;
  white-space: pre-line;
}

.benefit-unit-text p:first-of-type {
  margin-bottom: 20px;
}

.benefit-unit-image {
  display: flex;
  align-items: center;
  width: 800px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 56px 63px 60px;
  margin: 0 -63px 0 -63px;
  list-style: none;
}

.feature-item {
  position: relative;
  width: 400px;
  padding: 105px 55px 0;
  text-align: center;
}

.feature-item * {
  margin: 0;
}

.feature-item h3 {
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.feature-item-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.feature-item p {
  margin-bottom: 20px;
}

.benefit-unit-text.backward {
  order: 1;
}

.benefits-list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 50px 0 40px;
  list-style: none;
  background-color: #eeeeee;
}

.benefit-item * {
  margin: 0;
}

.benefit-item {
  width: 400px;
  padding: 0 65px;
  text-align: center;
}

.benefit-item h3 {
  margin: 0 55px 24px;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.benefit-item p {
  margin-bottom: 20px;
  white-space: pre-line;
}

.benefit-item p:first-of-type {
  margin-bottom: 21px;
}

.search {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 50px 316px 0;
  background-color: #ffffff;
}

.search * {
  margin: 0;
  padding: 0;
}

.search-headline {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.search-text {
  width: 440px;
  margin: 0 auto 45px;
  line-height: 24px;
  text-align: center;
  white-space: pre-line;
}

.button-modal {
  width: 568px;
  padding: 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.modal {
  position: absolute;
  left: 50%;
  z-index: 1;
  width: 568px;
  margin: 0 auto;
  padding: 55px;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
  opacity: 0;
  transform: translate(-50%, -100%);
  transition-duration: 0.5s;
}

.modal-show {
  opacity: 1;
  transform: translateX(-50%);
}

.search-form {
  font-size: inherit;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.search-form * {
  margin: 0;
  padding: 0;
}

.calendar-button {
  position: absolute;
  right: 10px;
  top: 7px;
  color: #cacaca;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-form p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px;
}

.search-form label {
  width: 95px;
  word-break: break-word;
  cursor: pointer;
}

.search-form input {
  width: 346px;
  height: 38px;
  padding: 3px 35px 0 10px;
  font-size: inherit;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}

.search-people-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.search-people-amount p {
  flex-grow: 1;
  margin: 0;
}

.button-people-amount {
  position: absolute;
  width: 35px;
  height: 35px;
  color: #aaaaaa;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

.minus-button {
  right: 75px;
  top: 3px;
}

.plus-button {
  right: 0;
  top: 3px;
}

.search-people-amount input {
  width: 117px;
  height: 38px;
  padding: 3px 35px;
  text-align: center;
}

.search-people-amount p:last-child label {
  padding-right: 6px;
  text-align: right;
}

.search-form input:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.button-search {
  width: 100%;
  padding: 17px 20px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.map {
  position: relative;
  height: 593px;
  background-color: #f2f1ef;
}

.map img {
  display: block;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* CATALOG */

.catalog-container {
  background-color: #fefefe;
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation-current a:hover,
.site-navigation-current a:active {
  color: #766357;
}

.filters {
  min-height: 217px;
  padding: 25px 74px 0 72px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-image: url('../img/filter-background.jpg');
  background-color: #81b3d3;
  background-position: 0 -290px;
  background-repeat: no-repeat;
}

.filter {
  display: flex;
  margin-left: -115px;
}

.filter fieldset {
  width: 140px;
  margin: 0;
  padding: 0;
  margin-left: 115px;
  border: none;
}

.filter-option {
  position: relative;
  margin-bottom: 25px;
}

.filter-option label {
  display: flex;
  align-items: center;
  padding-left: 40px;
  word-break: break-word;
  cursor: pointer;
}

.filter-option label::before {
  content: '';
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}

.filter-option input:checked+label::before {
  background-image: url('../img/checkbox-on.svg');
}

.filter-option input:disabled+label::before {
  opacity: 0.3;
}

.filter-option input:focus+label::before {
  opacity: 0.5;
}

.filter legend {
  margin: 0;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: bold;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter .price-range {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: auto;
}

.price-range legend {
  margin-bottom: 9px;
}

.price-input {
  position: relative;
  margin-bottom: 20px;
  padding: 5px;
  width: 315px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-input label {
  cursor: pointer;
}

.price-input::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-input span {
  margin-left: 55px;
}

.price-input-range {
  width: 70px;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  box-sizing: content-box;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  transition: 0.2s;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-show-up {
  width: 136px;
  margin: 0 0 37px 85px;
  padding: 5px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s;
}

.button-show-up:hover {
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  display: flex;
  align-items: baseline;
  padding: 27px 73px 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting * {
  display: flex;
  margin: 0;
  padding: 0;
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort {
  margin-left: 49px;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
}

.sort-value {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin-left: -33px;
}

.sort-value li {
  list-style: none;
}

.sort-value-item a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
  transition: 0.2s;
}

.sort-value-item a:hover {
  color: #81b3d2;
}

.sort-value-item a:active {
  color: #000000;
  border: none;
}

.sort-value-item.current a {
  color: #81b3d2;
  border: none;
}

.sort-value-item {
  margin-left: 33px;
}

.arrows {
  margin-left: auto;
}

.arrow {
  color: #cacaca;
}

.arrow-current {
  margin-left: 12px;
  color: #81b3d2;
}

.accommodation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accommodation-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 72px 30px 73px;
  border-bottom: 1px solid #e5e5e5;
}

.accommodation-image {
  flex-shrink: 0;
  width: 135px;
}

.accommodation-container {
  max-width: 500px;
  margin-left: 30px;
}

.accommodation-container * {
  margin: 0;
  padding: 0;
}

.accommodation-header {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 9px;
  padding-top: 4px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.accommodation-image img {
  display: block;
  margin-top: 7px;
}

.accommodation-details {
  display: flex;
  margin-bottom: 12px;
}

.accommodation-type {
  width: 115px;
}

.accommodation-options {
  display: flex;
}

.accommodation-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  padding: 4px;
  font-weight: bold;
  word-break: break-word;
  text-align: center;
}

.accommodation-reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  margin-left: 6px;
  padding: 4px;
  font-weight: bold;
  word-break: break-word;
  text-align: center;
}

.accommodation-rating {
  margin-left: auto;
}

.accommodation-rating * {
  margin: 0;
}

.rating-stars {
  margin: 7px 0 47px auto;
}

.stars {
  height: 18px;
  background-image: url('../img/star.svg');
  background-repeat: space;
  background-size: 18px 18px;
}

.stars-1 {
  width: 18px;
}

.stars-2 {
  width: 41px;
}

.stars-3 {
  width: 64px;
}

.stars-4 {
  width: 89px;
}

.stars-5 {
  width: 90px;
}

.rating-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 101px 29px 132px;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-index {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-hashtag {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 11px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  width: 300px;
  margin-left: 22px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin: 0 0 6px 6px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 6px;
  line-height: 26px;
  color: #000000;
  overflow: hidden;
}

.footer-copyright a {
  color: #000000;
  transition: 0.2s;
}

.footer-copyright a:hover {
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}

.footer-copyright svg {
  display: flex;
  margin-left: 8px;
}


