html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-blue {
  color: #ffffff;
  background: #81b3d2;
  transition: 0.2s
}

.button-blue:hover {
  background-color: #669ec0;
  cursor: pointer;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:active * {
  background-color: #5496bd;
  opacity: 0.3;
}

.button-brown {
  color: #ffffff;
  background-color: #766357;
  transition: 0.2s;
}

.button-brown:hover {
  background-color: #604e43;
  cursor: pointer;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:active * {
  background-color: #503e33;
  opacity: 0.3;
}

.button-grey {
  transition: 0.2s;
}

.button-grey:hover {
  color: #000000;
}

.button-grey:active {
  color: #81b3d2;
}

.link {
  color: #000000;
  transition: 0.2s;
}

.link:hover {
  color: #81b3d2;
}

.link:active {
  color: #cacaca;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-index {
  position: relative;
}

.main-header {
  padding: 16px 0;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -30px -80px;
  padding: 0 72px;
  list-style: none;
  line-height: 26px;
  font-weight: bold;
}

.site-navigation li {
  display: block;
  width: 200px;
  margin-bottom: 30px;
  margin-left: 80px;
}

.site-navigation li:nth-child(4n + 3) {
  margin-left: 96px;
  text-align: right;
}

.site-navigation li:nth-child(4n + 4) {
  text-align: right;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
}

.container {
  background-color: #ffffff;
}

.benefits-slogan {
  display: flex;
  min-height: 510px;
  background: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-color: #dceaf3;
  background-position: 0 bottom, 0 -80px;
  background-repeat: no-repeat, no-repeat;
}

.benefits-slogan img {
  margin: 0 auto auto;
  padding-top: 76px;
}

.benefits-title {
  text-align: center;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 61px 300px 50px;
}

.benefits-title h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  margin-bottom: 38px;
}

.benefits-title p {
  margin: 0;
}

.benefit-unit {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  display: flex;
}

.benefit-unit-text {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 40px 60px;
}

.benefit-unit-text * {
  margin: 0;
}

.benefit-unit-text h3 {
  font-size: 21px;
  font-weight: bold;
  width: 151px;
  margin: 0 auto 30px;
}

.benefit-unit-text p {
  margin-bottom: 10px;
}

.benefit-unit-text p:first-of-type {
  margin-bottom: 30px;
}

.benefit-unit-image {
  display: flex;
  align-items: center;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 56px 63px 70px;
  margin: 0;
}

.feature-item {
  text-align: center;
  width: 290px;
  position: relative;
  padding-top: 105px;
}

.feature-item * {
  margin: 0;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 31px;
}

.feature-item-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.feature-item p {
  margin-bottom: 10px;
}

.benefit-unit-text.backward {
  order: 1;
}

.benefits-list {
  list-style: none;
  background-color: #eeeeee;
  margin: 0;
  padding: 50px 75px;
  display: flex;
  min-height: 256px;
  justify-content: space-between;
}

.benefit-item * {
  margin: 0;
}

.benefit-item {
  text-align: center;
  width: 265px;
}

.benefit-item h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  margin: 0 55px 30px;
}

.benefit-item p {
  margin-bottom: 10px;
}

.benefit-item p:first-of-type {
  margin-bottom: 30px;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 57px 316px 0;
}

.search * {
  margin: 0;
  padding: 0;
}

.search-headline {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.search-text {
  line-height: 24px;
  text-align: center;
  width: 434px;
  margin: 0 auto 50px;
}

.button-modal {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  width: 568px;
  padding: 30px;
}

.modal {
  width: 568px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-form {
  font-size: inherit;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.search-form * {
  margin: 0;
  padding: 0;
}

.calendar-button {
  background: none;
  border: none;
  color: #cacaca;
  position: absolute;
  right: 10px;
  cursor: pointer;
  outline: none;
}

.search-form p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px;
  position: relative;
}

.search-form label {
  width: 95px;
  word-break: break-word;
}

.search-form input {
  font-size: inherit;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  width: 346px;
  padding: 3px 35px 0 13px;
  outline: none;
}

.search-people-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.search-people-amount p {
  margin: 0;
  flex-grow: 1;
}

.button-people-amount {
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: none;
  position: absolute;
  color: #aaaaaa;
  transition: 0.2s;
}

.button-people-amount:hover {
  color: #000000;
}

.button-people-amount:active {
  color: #81b3d2;
}

.minus-button {
  right: 75px;
}

.plus-button {
  right: 0;
}

.search-people-amount input {
  width: 112px;
  text-align: center;
  padding: 3px 35px;
}

.search-people-amount p:last-child label {
  text-align: right;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.button-search {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  width: 100%;
  padding: 20px;
}

.map {
  background-color: #f2f1ef;
}

.map img {
  display: block;
}

/* CATALOG */

.catalog-container {
  background-color: #fefefe;
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation-current a:hover,
.site-navigation-current a:active {
  color: #766357;
}

.filters {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
  background-color: #81b3d3;
  background-position: 0 -290px;
  background-repeat: no-repeat;
  min-height: 217px;
  padding: 31px 74px 0 72px;
}

.filter {
  display: flex;
  margin-left: -115px;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 115px;
  width: 140px;
}

.filter-option {
  margin-bottom: 23px;
  position: relative;
}

.filter-option label {
  padding-left: 40px;
  cursor: pointer;
}

.filter-option label::before {
  width: 27px;
  height: 23px;
  position: absolute;
  left: 0;
  content: '';
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-option input:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-option input:disabled+label::before {
  opacity: 0.3;
}

.filter-option input:focus+label::before {
  opacity: 0.5;
}



.filter legend {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 31px;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter .price-range {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: auto;
}

.price-range legend {
  margin-bottom: 13px;
}

.price-input {
  margin-bottom: 22px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 5px;
  width: 314px;
  position: relative;
}

.price-input label {
  cursor: pointer;
}

.price-input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-input span {
  margin-left: 55px;
}

.price-input-range {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: transparent;
  border: none;
  width: 70px;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  box-sizing: content-box;
}

.range-toggle:hover {
  top: -10px;
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-show-up {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 133px;
  margin: 0 auto 30px;
  padding: 5px;
  cursor: pointer;
}

.button-show-up:hover {
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  padding: 31px 73px 33px 72px;
  align-items: baseline;
}

.sorting * {
  margin: 0;
  padding: 0;
  display: flex;
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  margin-left: 49px;
}

.sort-value li {
  list-style: none;
}

.sort-value-item a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sort-value-item a:hover {
  color: #81b3d2;
}

.sort-value-item a:active {
  color: #000000;
  border: none;
}

.sort-value-item.current {
  margin-left: 40px;
}

.sort-value-item.current a {
  color: #81b3d2;
  border: none;
}

.sort-value-item {
  margin-left: 33px;
}

.arrows {
  margin-left: auto;
}

.arrow {
  color: #cacaca;
}

.arrow-current {
  color: #81b3d2;
  margin-left: 12px;
}

.accommodation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accommodation-item {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  min-height: 150px;
  position: relative;
  padding: 30px 72px 30px 73px;
}

.accommodation-container {
  margin-left: 30px;
}

.accommodation-container * {
  margin: 0;
  padding: 0;
}

.accommodation-header {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.accommodation-image img {
  display: block;
}

.accommodation-details {
  display: flex;
  margin: 12px 0;
}

.accommodation-price {
  margin-left: 39px;
}

.accommodation-options {
  display: flex;
}

.accommodation-info {
  font-weight: bold;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  word-break: break-word;
  text-align: center;
}

.accommodation-reserve {
  font-weight: bold;
  width: 141px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  word-break: break-word;
  text-align: center;
}

.accommodation-rating {
  margin-left: auto;
}

.accommodation-rating * {
  margin: 0;
}

.rating-stars {
  margin: 0 0 47px auto;
}

.stars {
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-size: 18px 18px;
  height: 18px;
}

.stars-1 {
  width: 18px;
}

.stars-2 {
  width: 36px;
}

.stars-3 {
  width: 54px;
}

.stars-4 {
  width: 72px;
}

.stars-5 {
  width: 90px;
}

.rating-mark {
  color: #666666;
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  min-height: 120px;
  padding: 36px 101px 36px 132px;
  justify-content: space-between;
  align-items: center;
}

.footer-index {
  position: absolute;
  width: 1200px;
  bottom: 0;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  display: flex;
  align-items: center;
  margin: 0;
}

.footer-social {
  text-align: center;
  width: 300px;
}

.footer-social ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social li {
  margin: 0 0 6px 6px;
}

.social-button {
  display: flex;
  width: 46px;
  height: 48px;
}

.social-button img {
  margin: auto;
}

.footer-copyright {
  line-height: 26px;
  color: #000000;
  display: flex;
  align-items: center;
  margin: 0;
}

.footer-copyright a {
  color: #000000;
  transition: 0.2s;
}

.footer-copyright a:hover {
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}

.footer-copyright svg {
  display: flex;
  margin-left: 8px;
}
